# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# zmienne środowiskowe
.env
.env.local
.env.development
.env.production

# Baza danych (nie chce wysyłać logów na GitHub)
*.db
# Systemowe (Mac)
.DS_Store
# Docker
.docker/

# folder frontendu (nie wysyłaj tysięcy plików bibliotek)
node_modules/
dist/
build/
.eslintcache